<!DOCTYPE html>
<html>
<title>Bean There Pod That- Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">


<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="homePage" class="w3-bar-item w3-button" style="font-family: 'Reenie Beanie', cursive; color: white; margin-left: 240px; font-size: 40px">Bean There Pod That</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="homePage" class="w3-bar-item w3-button">About Us</a>
      <a href="registration" class="w3-bar-item w3-button">Register</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-collapse w3-top" style="z-index:3;width:240px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <img src="static/img/logoBTPTBrown.png" class="w3-round w3-image w3-opacity-min" style="margin-left:30px;" alt="Logo" width="140" height="160">
  </div>
  <div class="w3-large w3-text-grey" style="letter-spacing: 5px; margin-left:20px">
    <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>
    <a href="coffeePods" class="w3-bar-item w3-button">Coffee Pods</a>
    <a href="{{url_for('machine.myMachine')}}" class="w3-bar-item w3-button">My Machines</a>
    <a href="addCoffee" class="w3-bar-item w3-button">Add a Coffee</a>
    <a href="{{url_for('profile.displayProfile')}}" class="w3-bar-item w3-button">My Profile</a>
    <a href="logout" class="w3-bar-item w3-button">Logout</a>
  </div>
</nav>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide w3-opacity-min" style="max-width:1600px;min-width:500px" id="home">
  
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1500px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="static/img/img1.jpg" class="w3-round w3-image w3-opacity-min" style="margin-left:150px; margin-top: 35px" alt="Intro Pic" width="350" height="400">
    </div>

    <div class="w3-col m6 w3-padding-large" style="margin-top: 35px">
      <h1 class="w3-center" style="font-family: 'Reenie Beanie', cursive; font-size: 35px;">Bean There Pod That</h1>
      <h4 class="w3-center">Coffee Time</h4>
      <p class="w3-large" >Bean There Pod That  is an application developed to help coffee lovers to keep track of 
      the coffees they have tasted. It is a community-powered platform for personalized recommendations to all 
      coffee fanatics. 
      The Bean There Pod That  will present the user with a database of all types of coffees available in the market. 
      The users will be able to rate the coffee they tasted on a scale of one to five pods. 
      The community dimension is what makes it a truly customer-centric platform. It allows users to rate the coffees 
      and read other users' comments. </p>
      <p class="w3-large" >Offering customized recommendations depending on their past behavior, the more 
      ratings and reviews they leave on the app, the better their recommendations. Bean There Pod That seems to be the 
      perfect conjunction big data, and machine learning assisting coffee lovers never to be disappointed ever again 
      with their choices and open their horizons to different experiences and tastes. </p>

    </div>
  </div>
  

<footer class="w3-center w3-light-grey w3-padding-32" style="margin-left: 240px;">
  <p><a href="https://www.BeanTherePodThat.ca" title="BeanTherePodThat" target="_blank" class="w3-hover-text-green">www.BeanTherePodThat.ca</a></p>
</footer>

</body>

</html>