{% extends "base.html" %}
{% block title %}Bean There Pod That - Remove Machine{% endblock %}
{% block page_content %}
<div class="w3-content" style="max-width:1500px">

  <!-- Add Machine Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h2>Remove Machine</h2>
        </div>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <form action="{{url_for('machine.removeMachine')}}" method="POST">
              <p><select class="w3-input w3-padding-16" name="machineName" id="machineName">
                {% for machine in machines %}
                <option id="machineName" name="machineName" value="{{machine['machineName']}}" selected="selected">{{machine['machineName']}}</option>
                {% endfor %}
              </select></p>
            
            <p><input class="w3-button w3-section w3-aqua" value="Confirm" name="removeMachine" href="{{url_for('machine.removeMachine')}}"
                type="submit"/></p>
              </form>
          </li>

        </ul>

      </div>
    </div>
    
</div>

{% endblock%}